.logo{
    width: 2rem;
}
.main{
    background-color: #4b4b4e;
    height: calc(100vh - 60px);
         width: 100%;
    position: relative;
    
} 


.navbar li a {
    text-decoration: none; 
       color: #fff;

}
/* .navbar-nav .nav-link{
    background-color: #4b4b4e;
} */
.navbar li a:hover{
color: yellow;
background-color: #4b4b4e;

}
.text{
    color: #fff;
    width: 50%;
}
.content{
    display: flex;
    padding-top: 5rem;
    justify-content: space-between;
align-items:center;
text-align:center;    

}
.text h1{
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.image{
    width: 75%;
  

}
.icons{
    position: absolute;
    bottom: 1rem;
    left: 25%;
    width: 50%;
 
}

.icons img{
    width: 10%;
    margin: 1rem;    transition: all 1s;
   
    

}
.icons img:hover{
    transform: scale(1.5);
}
@media  all and (min-device-width: 320px) and (max-device-width: 480px) {
    .icons {
bottom: 4rem;
display: flex;  
justify-content: center;    }
    .text{
        width: 100%;
        font-size: 2rempx;
    }
    .icons img{
        width: 23%;
    }
    .image{
        width: 100%;
    }
  }
  /*mobile device*/
  @media  all and (min-device-width: 481px) and (max-device-width: 768px) {
    .icons {
bottom: 0rem;
display: flex;  
justify-content: center;  
  }
  .content{
      margin-top: 0;
  }
    .text{
        width: 100%;
        font-size:1rem;
    }
    .icons img{
        width: 15%;
    }
    .image{
        width: 100%;
    }
  }
  /*tablet device*/
  @media  all and (min-device-width: 769px) and (max-device-width: 1024px) {
    .icons {
bottom: 1rem;
display: flex;  
justify-content: center;  
  }
    .text{
        width: 100%;
        font-size:1rem;
    }
    .icons img{
        width: 12%;
    }
    .image{
        width: 100%;
    }
  }
  /* 769px — 1024px: Small screens, laptops */
